html, body {
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	margin: 0;
}

h1, h2, h3, h4 {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: normal;
}

.elgg-page-header {
	display: none;
}

.elgg-page-navbar {
    background: #00acf7;
	padding: 0;
}
.elgg-page-navbar > .elgg-inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}
.elgg-nav-logo {
	left: 0;
	flex-grow: 1;
	order: 1;
}

@media screen and (min-width: 990px) {
	.elgg-nav-logo {
		flex-grow: 0;
	}
}

.elgg-nav-logo a {
    padding: 5px;
	display: inline-block;
}

.elgg-nav-logo img {
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
}

#login-dropdown {
    order: 2;
    position: static;
    top: auto;
    right: auto;
}

@media only screen and (min-width: 990px) {
	#login-dropdown {
		order: 5;
	}
}

#login-dropdown a {
    font-size: 17px;
    line-height: 40px;
    padding: 10px 15px;
    vertical-align: middle;
    color: #fff;
	background: transparent;
}

#login-dropdown-box {
    border-top: 0;
	border-radius: 0;
	width: auto;
	max-width: 300px;
	z-index: 1000;
}


.elgg-nav-collapse {
	height: auto;
	width: 100%;
	z-index: 1000;
	flex-grow: 4;
	order: 4;
	display: none;
}

.elgg-nav-collapsed .elgg-nav-collapse {
	display: block;
}

@media only screen and (min-width: 990px) {
	.elgg-nav-collapse {
		position: relative;
		top: auto;
		bottom: auto;
		width: auto;
		display: block;
	}
}

.elgg-nav-button {
	width: 20px;
	height: 15px;
	position: relative;
	margin: 10px 20px;
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-moz-transition: ease-in-out 0.5s;
	-o-transition: ease-in-out 0.5s;
	-webkit-transition: ease-in-out 0.5s;
	transition: ease-in-out 0.5s;
	cursor: pointer;
	display: block;
	order: 3;
	flex-grow: 0;
}
@media only screen and (min-width: 990px) {
	.elgg-nav-button {
		display: none;
	}
}

.elgg-nav-button span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #ffffff;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-moz-transition: ease-in-out 0.25s;
	-o-transition: ease-in-out 0.25s;
	-webkit-transition: ease-in-out 0.25s;
	transition: ease-in-out 0.25s;
}

.elgg-nav-button span:nth-child(1) {
	top: 0px;
}

.elgg-nav-button span:nth-child(2) {
	top: 6px;
}

.elgg-nav-button span:nth-child(3) {
	top: 12px;
}

.elgg-nav-collapsed .elgg-nav-button span:nth-child(1) {
	top: 6px;
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.elgg-nav-collapsed .elgg-nav-button span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

.elgg-nav-collapsed .elgg-nav-button span:nth-child(3) {
	top: 6px;
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.elgg-menu-site {
	font-family: inherit;
	float: none;
}

.elgg-menu-site > li {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	float: none;
	display: block;
}

@media screen and (min-width: 990px) {
	.elgg-menu-site > li {
		border-top: none;
		display: inline-block;
	}
}

.elgg-menu-site > li a {
	font-size: 17px;
	line-height: 40px;
	padding: 10px 15px;
	vertical-align: middle;
	color: #fff;
}

.elgg-menu-site > li > ul {
    background: none;
    border-radius: 0;
	border-width: 1px 1px 0;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.2);
	position: relative;
	display: block;
	width: 100%;
	box-shadow: none;
	top: 0;
}

.elgg-menu-site > li ul a {
    padding: 10px 35px;
    line-height: 22px;
}

@media screen and (min-width: 990px) {
	.elgg-menu-site > li > ul {
		display: none;
		border-width: 1px;
		width: 200px;
	}
	.elgg-menu-site > li:hover > ul {
		display: block;
		position: absolute;
		top: 60px;
		background: #00acf7;
	}

	.elgg-menu-site > li ul a {
		padding: 10px 20px;
	}
}

.elgg-menu-site .elgg-state-selected a,
.elgg-menu-site li:hover a {
	background: inherit;
}

.elgg-menu-site .elgg-state-selected > a,
.elgg-menu-site li:hover > a {
	background-color: #60b8f7;
    color: #FFF;
	text-decoration: none;
}

.elgg-menu-site > li ul li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.elgg-page-landing .elgg-page-body > .elgg-inner {
    max-width: none;
}

.elgg-page-landing .elgg-hero {
	background-color: #505050;
    background-image: url(images/cover_mini.jpg);
    background-repeat: no-repeat;
    height: 45vh;
    background-origin: border-box;
    position: relative;
    background-size: 2000px;
    text-align: right;
}

.elgg-hero-github {
	display:  none;
	position: absolute;
	left: 0;
}

@media screen and (min-width: 990px) {
	.elgg-hero-github {
		display: block;
	}
}


.elgg-page-landing .elgg-page-body {
    padding: 0;
}

.elgg-page-landing .elgg-hero h1 {
    font-size: 5vh;
    color: white;
    font-weight: normal;
    position: absolute;
    right: 5vw;
    bottom: 19vh;
    text-shadow: -1px 3px #000;
    line-height: normal;
	max-width: 700px;
}

.elgg-page-landing .elgg-hero h2 {
    position: absolute;
    right: 5vw;
    bottom: 12vh;
    color: #ccc;
    text-shadow: -1px 2px #000;
    line-height: normal;
    font-size: 2.2vh;
	max-width: 500px;
}

.elgg-page-landing .elgg-hero-calls {
	position: absolute;
    bottom: 4vh;
    right: 5vw;
}

.elgg-page-landing .elgg-hero-call {
    color: #fff;
    background: #00acf7;
    font-size: 2vh;
    line-height: normal;
    padding: 10px;
    border-radius: 7px;
    font-family: 'Roboto';
	transition: background 1s ease-in-out;
}

.elgg-page-landing .elgg-hero-call:not(:last-child) {
	margin-right: 10px;
}

.elgg-page-landing .elgg-hero-call:hover {
	background: #000;
	text-decoration: none;
}

.elgg-page-footer {
    border-top: 1px solid #000;
    background: #424242;
}

.elgg-page .elgg-page-footer > .elgg-inner {
    padding: 25px;
    border: none;
    color: #999 !important;
}

.elgg-page .elgg-page-footer > .elgg-inner h2 {
    color: #999;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.elgg-page .elgg-page-footer > .elgg-inner .elgg-module {
    margin: 21px;
}

.elgg-page .elgg-page-footer > .elgg-inner .elgg-menu a {
    color: #999;
}

.elgg-page .elgg-page-footer > .elgg-inner .elgg-menu-footer {
    float: none;
    margin: 0 auto;
    text-align: center;
}

.elgg-page .elgg-page-footer:after {
	content: "";
}

.elgg-layout {
	min-height: calc(100vh - 400px);
}

.elgg-landing-about {
    font-size: 18px;
    background: rgba(241, 241, 241, 0.44);
    line-height: normal;
}

.elgg-landing-about .elgg-inner {
	max-width: 980px;
    margin: 0 auto;
}

.elgg-landing-about .elgg-tagline {
	padding: 25px;
}

.elgg-landing-about .elgg-tagline > .elgg-image-alt {
	float: none;
	margin: 15px auto;
	text-align: center;
}

@media screen and (min-width: 990px) {
	.elgg-landing-about .elgg-tagline {
		padding: 50px 0;
	}

	.elgg-landing-about .elgg-tagline > .elgg-image-alt {
		float: right;
		margin: 0 0 15px 15px;
	}
}

.elgg-page-landing .elgg-hero-call:hover {
    text-decoration: none;
    background: #000;
}

.elgg-landing-modules {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 15px;
}

@media screen and (min-width: 990px) {
	.elgg-landing-modules {
		padding: 0;
	}
	.elgg-landing-modules > div {
		flex-basis: 48%;
	}
}

.elgg-module-landing .elgg-head {
    padding: 10px 15px;
    border-bottom: 1px solid #dcdcdc;
    background: #00acf7;
	border-radius: 6px;
}

.elgg-module-landing .elgg-table-alt {
	margin: 10px auto;
	table-layout: fixed;
}

.elgg-module-landing .elgg-table-alt td,
.elgg-module-landing .elgg-table-alt th {
	padding: 8px;
}

.elgg-module-landing .elgg-subtext {
    font-style: normal;
}

.elgg-module-landing .elgg-body h3 {
    font-size: 25px;
	margin-bottom: 5px;
    line-height: normal;
}

.elgg-module-landing .elgg-output {
	padding: 15px 0;
	font-size: 16px;
}

.elgg-module-landing .elgg-output p {
	margin: 0;
}

.elgg-module-landing .elgg-output p + p{
	margin-top: 10px;
}

.elgg-module-landing ul > li {
    padding: 15px 20px;
}

.elgg-module-landing ul > li svg {
    width: 75px;
    height: 75px;
}

.elgg-module-landing ul > li .elgg-image-block {
    display: flex;
    align-items: center;
}
.elgg-module-landing ul > li .elgg-image-block > .elgg-image {
    margin-right:20px
}

.elgg-module-landing .elgg-head h3 {
    color: #fff;
	font-size: 20px;
	margin: 0;
	line-height: normal;
}

.elgg-menu-topbar {
	font-family: inherit;
}

.elgg-about-award {
	padding: 10px;
	border: 1px solid #dcdcdc;
	margin: 0 0 10px 10px;
	background: #f1f1f1;
	float: right;
	text-align: center;
	max-width: 110px;
}

.elgg-about-features {
	border-top: 1px solid #dcdcdc;
}

.elgg-about-features > li {
    padding: 15px;
    border-bottom: 1px solid #dcdcdc;
}

/** TYPOGRAPHY **/
a {
	color: #006D9C;
}
.elgg-subtext, .elgg-text-help {
	font-style: normal;
	color: #666;
	float: none !important;
	font-size: 90%;
}
.elgg-tags .elgg-icon {
    font-size: 11px;
}
.elgg-button {
	box-shadow: none;
	border: none;
	font-family: inherit;
	transition: all 0.5s ease-in-out;
}
a.elgg-button {
	padding: 8px 12px;
}
.elgg-button,
.elgg-button-action,
.elgg-button-delete,
.elgg-button-cancel {
	background-color: #eee;
	color: #333;
}

.elgg-button-action:hover,
.elgg-button-action:focus {
	background-color: #00acf7;
	color: #fff;
}
.elgg-button-delete:hover,
.elgg-button-delete:focus {
	background-color: #f30;
	color: #fff;
}
.elgg-button-cancel:hover,
.elgg-button-cancel:focus {
	background-color: #aaaaaa;
	color: #fff;
}
.elgg-button-submit {
	background-color: #00acf7;
	color: #fff;
}
.elgg-button-submit:hover,
.elgg-button-submit:focus  {
    background: #005C84;
    color: #fff;
}

.elgg-menu-longtext {
	margin-top: -25px;
}
.elgg-menu-longtext > li + li {
	margin-left: 10px;
}
.elgg-menu-longtext > li > a {
	font-size: 12px;
}

.elgg-box.elgg-state-notice,
blockquote {
    color: #666;
    background-color: rgba(0, 172, 247, 0.05);
    border: 1px solid rgba(0, 172, 247, 0.15);
    border-radius: 0;
}
.elgg-box-error {
    background-color: rgba(248, 232, 232, 0.32);
    border: 1px solid rgba(229, 183, 181, 0.63);
    border-radius: 0;
}


.elgg-table,
.elgg-table-alt,
.theme-sandbox-table {
	width: 100%;
	border-top: 1px solid #dcdcdc;
	table-layout: fixed;
}
.elgg-table td, .elgg-table th,
.elgg-table-alt td,
.elgg-table-alt th,
.theme-sandbox-table td,
.theme-sandbox-table th {
	padding: 5px 10px;
	border-bottom: 1px solid #dcdcdc;
}
.elgg-table th,
.elgg-table-alt th,
.theme-sandbox-table th {
	background-color: #f4f4f4;
	color: #333;
	font-weight: bold;
}
.elgg-table tr:hover,
.elgg-table-alt tr:hover,
.theme-sandbox-table tr:hover {
	background: #f4f4f4;
}

.elgg-table-alt td:first-child {
	width: 200px;
}

.elgg-menu-entity {
    float: none;
    margin: 0;
    color: inherit;
    font-size: 90%;
}

.elgg-menu-entity > li {
    margin: 0 10px 0 0;
}

.elgg-menu-entity-social > li > a {
	color: #006d9c;
}

.elgg-listing-metadata {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px 0;
}

.elgg-listing-metadata > ul:first-child {
    margin-right: auto;
    flex-grow: 1;
}

.elgg-menu-entity > li {
    margin: 0;
}

.elgg-menu-entity > li + li:before {
	content: "|";
	padding: 0 5px;
	display: inline;
	color: #aaa;
	font-size: 10px;
}

.elgg-menu-entity > li.hidden:before {
	display: none;
}

.elgg-menu-entity > li > a {
    display: inline-block;
}

.elgg-menu-entity > li .elgg-icon {
    font-size: inherit;
	color: inherit;
}

.elgg-listing-full-header {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 10px;
}

.elgg-river-layout .elgg-river-selector {
    margin: 0;
}

.elgg-river-layout .elgg-river-selector select {
    display: inline-block;
    margin: 0;
    width: auto;
}

.elgg-river-layout .elgg-river-selector span {
    display: inline-block;
    margin: 0 5px 0 0;
}

.elgg-main .elgg-breadcrumbs {
	top: 0;
    padding: 5px 10px;
    border: 1px solid #eee;
    background: #fafafa;
    margin-bottom: 20px;
}

.elgg-breadcrumbs > li:after {
    content: "\f054";
    padding: 0 7px;
    font-weight: normal;
    font-family: "FontAwesome";
    font-size: 7px;
    vertical-align: middle;
    line-height: 19px;
}

.elgg-breadcrumbs > li > a {
    display: inline-block;
    color: inherit;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.elgg-main > .elgg-head {
	border-bottom: 1px solid #EBEBEB;
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}
.elgg-main > .elgg-head > h1,
.elgg-main > .elgg-head > h2,
.elgg-main > .elgg-head > h3 {
	order: 1;
	padding: 5px;
	margin-right: auto;
}
.elgg-main > .elgg-head > .elgg-menu {
	order: 2;
}
.elgg-heading-main {
    padding: 0;
    margin: 0;
}

.elgg-menu-title {
	padding: 2.5px;
	float: none;
}
.elgg-menu-title > li {
	display: inline-block;
	padding: 2.5px;
}

.elgg-menu-river .elgg-icon-hover {
	font-size: inherit;
}
.elgg-menu-river .elgg-icon:not(.elgg-icon-hover) {
    color: inherit;
    font-size: inherit;
}

/* Comment highlighting that automatically fades away */
.elgg-comments .elgg-state-highlight,
.elgg-river-comments .elgg-state-highlight {
	-webkit-animation: comment-highlight 5s; /* Chrome, Safari, Opera */
	animation: comment-highlight 5s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes comment-highlight {
	from {background: rgba(0, 172, 247, 0.05)}
	to {background: white;}
}
/* Standard syntax */
@keyframes comment-highlight {
	from {background: rgba(0, 172, 247, 0.05)}
	to {background: white;}
}

.elgg-module img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

.elgg-module-info > .elgg-head {
	margin-bottom: 0;
}
.elgg-module-info > .elgg-body {
	padding: 10px;
}

.elgg-module-info > .elgg-foot {
	padding: 10px;
}

.elgg-list > li {
	padding: 10px;
	border-bottom-color: #ebebeb;
}
.elgg-no-results {
	padding: 10px;
}
.elgg-widget-more {
	padding: 0 10px;
    display: inline-block;
	font-weight: bold;
}

#plugins_front_welcome h3 {
    margin-top: 20px;
}

#plugins_welcome_text {
    padding: 10px 0 20px;
}

#plugins_front_welcome {
    background-position: 100% 50%;
}