.chosen-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 20px;
	zoom: 1;
	*display: inline;
	max-width: 100%;
	margin: 5px 0 5px;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.chosen-container * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.chosen-container .chosen-drop {
	position: absolute;
	top: 100%;
	left: -9999px;
	z-index: 1010;
	width: 100%;
	border: 1px solid #dcdcdc;
	border-top: 0;
	background: #fff;
}
.chosen-container.chosen-with-drop .chosen-drop {
	left: 0;
}
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
	margin-right: 4px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #999999;
}
.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
	content: ":";
	padding-left: 2px;
	vertical-align: top;
}

.chosen-container-single .chosen-single {
	position: relative;
	display: block;
	overflow: hidden;
	border: 1px solid #dcdcdc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	background-clip: padding-box;
	color: #666;
	text-decoration: none;
	white-space: nowrap;
	background-image: none;
	height: auto;
	box-shadow: none;
	margin: 0;
	padding: 0;
}

.chosen-container-single .chosen-single div {
	top: 7px;
	height: 20px;
}

.chosen-container-single .chosen-default {
	color: #999;
}
.chosen-container-single .chosen-single span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 7px 14px;
	margin-right: 36px;
}
.chosen-container-single .chosen-search {
	position: relative;
	z-index: 1010;
	margin: 0;
	white-space: nowrap;
	border-bottom: 1px solid #dcdcdc;
}
.chosen-container-single .chosen-search input[type="text"] {
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	height: inherit;
	background: none;
}
.chosen-container-single .chosen-drop {
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0;
	border-radius: 0 0 3px 3px;
	box-shadow: none;
	background-image: none;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
	position: absolute;
	left: -9999px;
}

.chosen-container .chosen-results {
	color: #666;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 4px;
	margin: 0;
	max-height: 240px;
	-webkit-overflow-scrolling: touch;
	background-image: none;
	box-shadow: none;
}
.chosen-container .chosen-results li {
	display: none;
	margin: 0;
	padding: 7px 14px;
	list-style: none;
	line-height: normal;
	word-wrap: break-word;
	-webkit-touch-callout: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.chosen-container .chosen-results li.active-result {
	display: list-item;
	cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
	display: list-item;
	color: #ccc;
	cursor: default;
}
.chosen-container .chosen-results li.highlighted {
	background-color: #fac455;
	color: #fff;
}
.chosen-container .chosen-results li.no-results {
	display: list-item;
}
.chosen-container .chosen-results li.group-result {
	display: list-item;
	font-weight: bold;
	cursor: default;
}
.chosen-container .chosen-results li.group-option {
	padding-left: 15px;
}
.chosen-container .chosen-results li em {
	font-style: normal;
	text-decoration: underline;
}

/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto !important;
	height: 1%;
	padding: 2.5px;
	border: 1px solid #dcdcdc;
	background-color: #fff;
	cursor: text;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-image: none;
	box-shadow: none;
}
.chosen-container-multi .chosen-choices li {
	display: inline-block;
	list-style: none;
	margin: 2.5px;
}
.chosen-container-multi .chosen-choices li.search-field {
	margin: 2px;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	min-width: 100px;
	margin: 2px;
}
.chosen-container-multi .chosen-choices li.search-choice {
	position: relative;
	padding: 7px 21px 7px 7px;
	max-width: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #f4f4f4;
	color: #666;
	background-image: none;
	margin: 2px;
	border-color: #dcdcdc;
}
.chosen-container-multi .chosen-choices li.search-choice span {
	word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	color: #666;
	display: inline-block;
	top: 8px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
	padding-right: 5px;
	border: 2px solid #ccc;
	background-color: #e4e4e4;
	color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
	background: #d4d4d4;
}
.chosen-container-multi .chosen-drop .result-selected {
	display: list-item;
	color: #ccc;
	cursor: default;
}

.chosen-container-active .chosen-single {
	border: 1px #ccc solid;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: hone;
	background-image: none;
}
.chosen-container-active .chosen-choises {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: hone;
	background-image: none;
}
.chosen-container-active.chosen-with-drop .chosen-single, .chosen-container-active.chosen-with-drop .chosen-choices {
	border: 1px solid #dcdcdc;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px;
	border-radius: 3px 3px 0 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-image: none;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
	border-left: none;
	background: transparent;
}

.chosen-disabled {
	opacity: 0.5 !important;
	cursor: default;
}
.chosen-disabled .chosen-single {
	cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
	cursor: default;
}

.chose-image-small, .chose-image-list, .chose-image {
	max-height: 14px !important;
	max-width: 21px !important;
	width: auto;
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px !important;
	-moz-border-radius: 1.5px;
	-webkit-border-radius: 1.5px;
	border-radius: 1.5px;
}

.chosen-container .chosen-results li.highlighted {
    background: #00acf7;
    border: none;
    outline: none;
}